body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.Main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: white;
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(249, 228, 211, 0.33);
  z-index: 0;
}

.Logo {
  width: 8.26vw;
  height: 8.26vw;
  position: absolute;
  left: 1.11vw;
  top: 1.11vh;
}

.CameraScreen {
  width: 62.22vw;
  height: 68.25vh; 
  position: absolute;
  left: 3.89vw;
  top: 15.82vh;
  background: #DCC5B3;
  border-radius: 4.17vh;
  z-index: 1;
}

.Time {
  width: 17.71vw; 
  height: 8.40vh;
  position: absolute;
  left: 74.17vw; 
  top: 22.68vh;
  z-index: 1;
}

.TimerDate {
  font-size: 1.5vw; 
  font-weight: 700;
  color: black;
  text-align: center;
}

.TimerTime {
  font-size: 2.5vw; 
  font-weight: 700;
  color: black;
  text-align: center;
}

.State {
  width: 18.75vw; 
  height: 15.93vh; 
  position: absolute;
  left: 73.61vw; 
  top: 34.77vh; 
}

.StateBox {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 2.08vh; 
  border: 0.21vh solid #DCC5B3;
  position: relative;
  z-index: 1; 
}

.StatePicture {
  width: 3vw;
  height: 5vh; 
  background: black;
  position: absolute;
  left: 44.72%; 
  top: 23.31%; 
  z-index: 2;
}


.StateText {
  font-size: 1.3vw; 
  font-weight: 200;
  color: black;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 65%;
  z-index: 2;
}

.Concentration {
  width: 17.43vw; 
  height: 8.13vh; 
  position: absolute;
  left: 73.54vw;
  top: 66.18vh; 
  z-index: 1; 
}

.ConcentrationValue {
  width: 94.46%; 
  height: 2.04vh; 
  background: linear-gradient(90deg, #DCC5B3 0%, #C4AB97 31%, #A48871 60%, #84644B 80%, #614026 100%);
  border-radius: 1.04vh;
  position: absolute;
  top: 4.83vh; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; 
}

.ConcentrationValueTri {
  width: 0.69vw; 
  height: 1.11vh;
  position: absolute;
  left: 37.04%; 
  top: 4.72vh; 
  z-index: 2;
}

.ConcentrationTitleBox {
  width: 46.67%; 
  height: 4.17vh; 
  background: #DCC5B3;
  border-radius: 2.08vh; 
  position: absolute;
  top: -5%;
  left: 25%;
  transform: translateX(-50%);
  z-index: 1; 
}

.ConcentrationTitle {
  font-size: 2vh; 
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 4.17vh;
  position: relative;
  z-index: 2; 
}

.HeartRate {
  width: 18.33vw; 
  height: 8.51vh; 
  position: absolute;
  left: 73.47vw; 
  top: 55.57vh; 
  z-index: 1; 
}

.HeartRateTitleBox {
  width: 45.45%; 
  height: 4.17vh; 
  background: #DCC5B3;
  border-radius: 2.08vh; 
  position: absolute;
  top: -5%;
  left: 25%;
  transform: translateX(-50%);
  z-index: 1; 
}

.HeartRateTitle {
  font-size: 2vh; 
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 4.17vh;
  position: relative;
  top: 0;
  right: 0;
  z-index: 2; 
}

.HeartRatePicture {
  width: 3.02vw; 
  height: 3.34vh;
  position: absolute;
  left: 15vw; 
  top: 5.32vh;
  z-index: 2; 
}

.HeartRateBpm {
  font-size: 1vw;
  font-weight: 700;
  color: black;
  position: absolute;
  left: 9.09vw; 
  top: 5vh; 
  z-index: 2; 
}

.startButton {
  width: 10.69vw; 
  height: 7.22vh; 
  position: absolute;
  left: 29.69vw;
  top: 46.57vh;
  background: #674429;
  border-radius: 1.04vh; 
  border: 0.21vh solid #674429; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2; 
}

.StartText {
  font-size: 2.92vh;
  font-weight: 600;
  color: white;
  text-align: center;
  position: relative;
  z-index: 3; 
}