.Side {
    width: 280px;
    height: 487px;
    position: fixed;
    background: #DCC5B3;
    border-bottom-left-radius: 20px;
    right: 0;
    z-index: 10;
  }
  
  .Line {
    width: 238px;
    height: 0;
    left: 21px;
    top: 291.50px;
    position: absolute;
    border: 1px #674429 solid;
    z-index: 0;
  }
  
  .OutPictureX {
    width: 23px;
    height: 23px;
    right: 8px;
    top: 10px;
    position: absolute;
  }

  .Idbox {
    width: 238px;
    height: 46px;
    top: 102px;
    left: 21px;
    position: absolute;
    background: white;
    border-radius: 10px;
    border: 1px #674429 solid;
    z-index: 0;
  }
  
  .Passwordbox {
    width: 238px;
    height: 46px;
    top: 155px;
    left: 21px;
    position: absolute;
    background: white;
    border-radius: 10px;
    border: 1px #674429 solid;
    z-index: 0;
  }

  .Loginbox {
    width: 238px;
    height: 46px;
    top: 150px;
    left: 21px;
    position: absolute;
    background: white;
    border-radius: 10px;
    border: 1px #674429 solid;
    z-index: 0;
  }
  
  .Loginbox {
    top: 208px;
    background: #674429;
  }
  
  .SettingsPicture,
  .LogOutPicture {
    width: 24px;
    height: 24px;
    position: absolute;
  }
  
  .SettingsPicture .Vector,
  .LogOutPicture .Vector {
    position: absolute;
    background: #717171;
  }
  
  .SettingsPicture {
    width: 19.45px;
    height: 20px;
    left: 2.28px;
    top: 2px;
  }
  
  .LogOutPicture .Vector {
    width: 13px;
    height: 20px;
    left: 4px;
    top: 2px;
  }
  
  .LogOutPicture {
    width: 13.09px;
    height: 9.14px;
    left: 9px;
    top: 7.45px;
  }
  
  /* Text Styles */
  .SidebarText,
  .LoginText,
  .Id,
  .Password,
  .StatisticsText1,
  .StatisticsText2,
  .StatisticsText3 {
    position: absolute;
    font-family: 'Inter';
    word-wrap: break-word;
  }

  .SidebarText {
    left: 115px;
    top: 257px;
    color: black;
    font-size: 12px;
    font-weight: 300;
  }
  
  .LoginText {
    left: 105px;
    top: 217px;
    color: white;
    font-size: 23px;
    font-weight: 700;
  }
  
  .Id,
  .Password {
    color: #919191;
    font-size: 20px;
    font-weight: 300;
  }
  
  .Id {
    left: 40px;
    top: 111px;
  }
  
  .Password {
    left: 40px;
    top: 165px;
  }
  
  .StatisticsText1 {
    width: 200px;
    left: 45px;
    top: 305px;
    color: #674429;
    font-size: 18px;
    font-weight: 400;
  }
  
  .StatisticsText2 {
    width: 200px;
    left: 45px;
    top: 343px;
    color: #674429;
    font-size: 18px;
    font-weight: 400;
  }
  
  .StatisticsText3 {
    width: 200px;
    left: 45px;
    top: 383px;
    color: #674429;
    font-size: 18px;
    font-weight: 400;
  }