.Side {
    width: 280px;
    height: 390px;
    position: fixed;
    background: #DCC5B3;
    border-bottom-left-radius: 20px;
    right: 0;
    z-index: 10;
  }
  
  .OutPictureX {
    width: 23px;
    height: 23px;
    right: 8px;
    top: 10px;
    position: absolute;
  }

  .Idbox {
    width: 238px;
    height: 46px;
    top: 102px;
    left: 21px;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    background: white;
    border-radius: 10px;
    border: 1px #674429 solid;
    z-index: 0;
  }
  
  .Passwordbox {
    width: 238px;
    height: 46px;
    top: 155px;
    left: 21px;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    background: white;
    border-radius: 10px;
    border: 1px #674429 solid;
    z-index: 0;
  }

  .Loginbox {
    width: 238px;
    height: 46px;
    top: 150px;
    left: 21px;
    position: absolute;
    background: white;
    border-radius: 10px;
    border: 1px #674429 solid;
    z-index: 0;
  }

  .Loginbox {
    top: 208px;
    background: #674429;
  }
  .BluetoothPicture {
    width: 18px;
    height: 20px;
    right: 68px;
    top: 330px;
    position: absolute;
  }

  .LogOutPicture {
    width: 18px;
    height: 20px;
    right: 45px;
    top: 330px;
    position: absolute;
  }

  .SettingsPicture {
    width: 20px;
    height: 20px;
    right: 20px;
    top: 330px;
    position: absolute;
  }

  .SidebarText {
    left: 115px;
    top: 257px;
    color: black;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    font-family: 'Inter';
    word-wrap: break-word;
  }
  
  .LoginText {
    left: 105px;
    top: 217px;
    color: white;
    font-size: 23px;
    font-weight: 700;
    position: absolute;
    font-family: 'Inter';
    word-wrap: break-word;
  }
  
  .Id {
    left: 40px;
    top: 111px;
    color: #919191;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    font-family: 'Inter';
    word-wrap: break-word;
  }
  
  .Password {
    left: 40px;
    top: 165px;
    color: #919191;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    font-family: 'Inter';
    word-wrap: break-word;
  }