.SignUp {
    width: 1440px;
    height: 1024px;
    position: relative;
    background: white;
    cursor: pointer;
  }

  .Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(249, 228, 211, 0.33);
  }

  .Logo {
    width: 119px;
    height: 119px;
    left: 16px;
    top: -12px;
    position: absolute;
  }

  .SideButton {
    width: 34px;
    height: 20px;
    left: 1389px;
    top: 16px;
    cursor: pointer;
    position: absolute;
  }

  .TitleText {
    left: 650px;
    top: 100px;
    position: absolute;
    color: #C4AB97;
    font-size: 45px;
    font-family: 'Inter';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .Titleline {
    left: 630px;
    top: 90px;
    width: 220px;
    height: 0;
    position: absolute;
    border: 3px #DCC5B3 solid;
  }

  .Idline {
    width: 220px;
    height: 0;
    left: 222px;
    top: 313px;
    position: absolute;
    border: 1px #674429 solid;
  }
  
  .Emailline {
    width: 220px;
    height: 0;
    left: 217.01px;
    top: 631px;
    position: absolute;
    border: 1px #674429 solid;
  }
  
  .Passwordline {
    width: 220px;
    height: 0;
    left: 216px;
    top: 394.44px;
    position: absolute;
    border: 1px #674429 solid;
  }
  
  .Passwordcheckline {
    width: 220px;
    height: 0;
    left: 216px;
    top: 473.44px;
    position: absolute;
    border: 1px #674429 solid;
  }
  
  .Nameline {
    width: 220px;
    height: 0;
    left: 216px;
    top: 552.44px;
    position: absolute;
    border: 1px #674429 solid;
  }
  
  .IdText {
    position: absolute;
    color: black;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    left: 222.01px;
    top: 337.96px;
  }
  
  .PasswordText {
    position: absolute;
    color: black;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    left: 222.01px;
    top: 416.96px;
  }
  
  .PasswordCheckText {
    position: absolute;
    color: black;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    left: 222.01px;
    top: 495.96px;
  }
  
  .NameText {
    position: absolute;
    color: black;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    left: 223.01px;
    top: 575px;
  }
  
  .EmailText {
    position: absolute;
    color: black;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    left: 223.01px;
    top: 653px;
  }

  /*입력란*/  
  .SUIdbox {
    width: 741px;
    height: 70px;
    left: 483.01px;
    top: 320px;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    background: white;
    border: 2px #674429 solid;
  }

  .SUPasswordbox {
    width: 741px;
    height: 70px;
    left: 483.01px;
    top: 399px;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    background: white;
    border: 2px #674429 solid;
  }
  
  .SUPasswordcheckbox {
    width: 741px;
    height: 70px;
    left: 483.01px;
    top: 478px;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    background: white;
    border: 2px #674429 solid;
  }
  
  .SUNamebox {
    width: 741px;
    height: 70px;
    left: 483.01px;
    top: 557px;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    background: white;
    border: 2px #674429 solid;
  }
  
  /*이메일 입력내용*/
  .AtSymbol {
    left: 840.01px;
    top: 650px;
    position: absolute;
    color: black;
    font-size: 30px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }

  .SUEmailbox {
    width: 344px;
    height: 70px;
    left: 483.01px;
    top: 636px;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    background: white;
    border: 2px #674429 solid;
  }
  
  .SUEmailselfbox {
    width: 328px;
    height: 70px;
    left: 880.01px;
    top: 636px;
    position: absolute;
    background: white;
    border: 2px #674429 solid;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
  }

  .SUEmailselfboxInner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .EmailArrow {
    width: 20px;
    height: 15px;
    left: 320px;
    top:30px;
    position: absolute;
    transform-origin: 0 0;
    cursor: pointer;
  }

  .EmailDropdown {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    border: 2px solid #674429;
    z-index: 1;
  }

  .EmailOption {
    padding: 10px;
    cursor: pointer;
  }
  
  .EmailOption:hover {
    background: #f0f0f0;
  }

  .CustomEmailDomainInput {
    width: calc(100% - 20px);
    height: 100%;
    border: none;
    outline: none;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
  }

  .CustomEmailOptionInput {
    width: calc(100% - 20px);
    height: 100%;
    border: none;
    outline: none;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
  }

  .SUFinishbox {
    width: 187px;
    height: 70px;
    left: 626px;
    top: 873px;
    position: absolute;
    background: #674429;
    border-radius: 10px;
    border: 2px #674429 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .FinishText {
    position: absolute;
    color: white;
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 600;
    word-wrap: break-word;
    left: 35px;
    top: 15px;
  }