.SignUp {
  width: 1440px;
  height: 1024px;
  position: relative;
  background: white;
}

.Sidebutton {
  width: 34px;
  height: 20px;
  left: 1389px;
  top: 16px;
  position: absolute;
}

.Rectangle18,
.Rectangle19,
.Rectangle20 {
  width: 34px;
  height: 4px;
  position: absolute;
  background: #dcc5b3;
  border-radius: 20px;
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(249, 228, 211, 0.33);
}

.Logo {
  width: 119px;
  height: 119px;
  left: 16px;
  top: -12px;
  position: absolute;
}

.Idbox,
.Repetitioncheckbox,
.Finishbox,
.Namebox,
.Emailbox,
.Emailselfbox,
.Emailselectbox,
.Passwordbox,
.Passwordcheckbox {
  position: absolute;
  border: 2px #674429 solid;
}

.Idbox,
.Namebox,
.Emailbox,
.Emailselfbox,
.Emailselectbox,
.Passwordbox,
.Passwordcheckbox {
  background: white;
}

.Repetitioncheckbox,
.Finishbox {
  background: #674429;
  border-radius: 10px;
}

.Idline,
.Emailline,
.Passwordline,
.Passwordcheckline,
.Nameline,
.Lastline {
  position: absolute;
  border: 1px #674429 solid;
}

.SignupTitle {
  width: 220px;
  height: 75px;
  left: 610px;
  top: 120px;
  position: absolute;
}

.Tileline {
  width: 220px;
  height: 0;
  left: 0;
  top: 0;
  position: absolute;
  border: 3px #dcc5b3 solid;
}